.main-bg
{

    background: url(../images/full-bg-maharashtra.jpg) no-repeat center top;
    width: 100%;
    background-size: cover;

}



.topstrip
{
    background: #334132;
}



.bluebutton, .blubutton, .redbutt
{
    background:#334132;
}


.exhibitions
{
    background: #143a00;
}

.logo h1 , .navbar-light .navbar-nav .nav-link, h2, .exhibition-dates > .n-content h3, .news > .n-content h3, .allboxes > div:nth-child(2) h5, .orangebull li a, .slide h6
{
    color: #334132;
}


.warli, .footer, .warli, .side-links
{

    background: url(../images/warli-painting-maharashtra.jpg);

}


.warli::before, .footer::before
{
    background:url(../images/topline-maharashtra.png) repeat-x center bottom ; 
}


.warli::after
{
    background:url(../images/botline-maharashtra.png) repeat-x center bottom ; 
}


.latest-news, .artist, .exhibition-dates > div:nth-child(1) {
    background: #36AF30;
}

h2 span, p span
{
    color: #36AF30;;
}


.allboxes > div > h4
{
    background:url(../images/blue-lightbg-maharashtra.png) repeat-x center top;
}


.exhibition-dates > div:nth-child(2), .news > div:nth-child(2)
{
    background: rgba(255,255,255,.8);
}


.news > div:nth-child(1) {

    background: #143a00;
}


.copyrightinfo
{
    background: #000;
}


.allboxes > div > h4
{
    color: #fff;
}


.blueinput {
    background:#9AE296;
    border-radius: 0px !important;
}


.allboxes > div {
    min-height: 380px;
    box-shadow: #143a00 0px 0px 10px;
    background: rgb(255, 255, 255);
}